.headImage{
    margin-top: -10px;
    width: 100%;
}

.row{
    width: 100%;
}
.col-6{
    border-radius: 5px;
    /* border-color: black; */
    box-shadow: black;
}

.about{
    background-color: #c92725;
    color: aliceblue;
    font-size: 115%;
    padding-left: 10%;
    padding-right: 10%;
}

.reserve{
    font-size: 140%;
}

.about-btn{
    display: inline-block;
    background: rgba(255, 255, 255, 0.05);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
}

.card{
    border-radius: 1.25rem;
}

.col-6:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

a:hover{
    transform: scale(1.1);
    transition: 0.2s;
}