<div *ngIf="!user || (user && !user.isAdminDMT && !user.isAdminPolice)">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="container">
            <div class="row align-items-center header">
                <div class="col-md-6 text-center">
                    <h2 style="font-weight: bold; font-size: 370%; text-transform: uppercase;" class="my-5">Asset License App</h2>
                    <h4 style="font-style: italic; font-size: 180%;" class="mb-5">The online reservation Platform</h4>
                    <div class="exp">
                        <a href="#about">
                            <button class="btn">About Us</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="headImage" src="..\assets\images\main.png" width="100%" alt="">
                </div>
            </div>
        </div>  
    </div>
        <div class="container-fluid" style="padding-left: 0px; padding-right: 0px; overflow: hidden;">
            <div class="mt-2 abt">
                <div class="about row align-items-center pt-5 pb-5 " id="about">
                    <h2 class="mb-4" style="font-weight: bold;font-size:3rem;">About Us
                    </h2>
                    <p class="py-4" style="font-size: 115%;text-align: justify;">Asset License is a website designed for your convenience to alleviate the daily congestion and
                        busyness by digitizing the majority of the licensing process with DMT. Check your license
                        history
                        and find the status of your license through us. Join us in the process of getting your license
                        in
                        your hand anytime, anywhere.
                        At its most basic, An Asset License online booking system that allows you to book and check for
                        an
                        activity or service directly through a website.</p>
                    <div class="abt-btn">
                        <a class="about-btn" routerLink="/aboutUs" style="background: #2f2e2c;">About Asset license</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="background:#fff;">
        <div class="container py-5">
            <div class="row py-3"  style="margin-bottom:0" *ngIf="authservice.authState">
                <h2 class="text-center my-3" style="font-weight: 600; font-size: 300%;text-transform: uppercase;">Reservations</h2>
                <p class="reserve text-center mb-5">Now is the time to reserve your dates. Make Your Reservation Here.
                    Before that makes sure that you are logged in.</p>
                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" routerLink="/medical">
                            <a>
                                <img src="..\assets\images\exam.png" alt="" width="20%">
                                <h3 class="text-center mt-2">Medical Exams</h3>
                                <p class="mt-1">You can reserve a time slot for your medical test here</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" routerLink="/written-exam">
                            <img src="..\assets\images\exam.png" alt="" width="20%">
                            <h3 class="text-center mt-2">Written Exams</h3>
                            <p class="mt-1">You can reserve a time slot for your written test here</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row py-3" style="margin-bottom:0" *ngIf="!authservice.authState">
                <h2 class="text-center my-3" style="font-weight: 600; font-size: 300%;text-transform: uppercase;">Reservations</h2>
                <p class="reserve text-center mb-5">Now is the time to reserve your dates. Make Your Reservation Here.
                    Before that makes sure that you are logged in.</p>
                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" (click)="loginAlert()">
                            <a>
                                <img src="..\assets\images\exam.png" alt="" width="20%">
                                <h3 class="text-center mt-2">Medical Exams</h3>
                                <p class="mt-1">You can reserve a time slot for your medical test here</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" (click)="loginAlert()">
                            <img src="..\assets\images\exam.png" alt="" width="20%">
                            <h3 class="text-center mt-2">Written Exams</h3>
                            <p class="mt-1">You can reserve a time slot for your written test here</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

    <app-footer [fixed]="'none'"></app-footer>
</div>

<!-- <div *ngIf="!user || (user && !user.isAdminDMT && !user.isAdminPolice)">
    <app-navbar></app-navbar>
        <div class="container">
            <div class="row align-items-center"  style="height: 50vh;">
                <div class="col-md-6 text-center">
                    <h2 style="font-weight: bold; font-size: 370%; text-transform: uppercase;" class="my-5">Asset License App</h2>
                    <h4 style="font-style: italic; font-size: 180%;">The online reservation Platform</h4>
                </div>
                <div class="col-md-6">
                    <img class="headImage" src="..\assets\images\main.png" width="100%" alt="">
                </div>
            </div>
        </div>  
        <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
            <div class="mt-2">
                <div class="about pt-5 pb-5" style="background-color: #ffce2b; color: #42413d;height: 50vh;">
                    <h2 class="mb-4" style="font-weight: bold; font-family: Krub, sans-serif;font-size:3rem;">About Us
                    </h2>
                    <p class="py-4" style="font-size: 120%;">Asset License is a website designed for your convenience to alleviate the daily congestion and
                        busyness by digitizing the majority of the licensing process with DMT. Check your license
                        history
                        and find the status of your license through us. Join us in the process of getting your license
                        in
                        your hand anytime, anywhere.
                        At its most basic, An Asset License online booking system that allows you to book and check for
                        an
                        activity or service directly through a website.</p>
                    <div class="abt-btn">
                        <a class="about-btn" routerLink="/aboutUs" style="background: #2f2e2c;">About Asset license</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="background:#f0efee;">
        <div class="container py-5">
            <div class="row py-3"  style="margin-bottom:0" *ngIf="authservice.authState">
                <h2 class="text-center my-3" style="font-weight: 600; font-size: 300%;text-transform: uppercase;">Reservations</h2>
                <p class="reserve text-center mb-5">Now is the time to reserve your dates. Make Your Reservation Here.
                    Before that makes sure that you are logged in.</p>
                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" routerLink="/medical">
                            <a>
                                <img src="..\assets\images\exam.png" alt="" width="20%">
                                <h3 class="text-center mt-2">Medical Exams</h3>
                                <p class="mt-1">You can reserve a time slot for your medical test here</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" routerLink="/written-exam">
                            <img src="..\assets\images\exam.png" alt="" width="20%">
                            <h3 class="text-center mt-2">Written Exams</h3>
                            <p class="mt-1">You can reserve a time slot for your written test here</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row py-3" style="margin-bottom:0" *ngIf="!authservice.authState">
                <h2 class="text-center my-3" style="font-weight: 600; font-size: 300%;text-transform: uppercase;">Reservations</h2>
                <p class="reserve text-center mb-5">Now is the time to reserve your dates. Make Your Reservation Here.
                    Before that makes sure that you are logged in.</p>
                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" (click)="loginAlert()">
                            <a>
                                <img src="..\assets\images\exam.png" alt="" width="20%">
                                <h3 class="text-center mt-2">Medical Exams</h3>
                                <p class="mt-1">You can reserve a time slot for your medical test here</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6 text-center">
                    <div class="card p-3 shadow" style="background: #d0d0cc;">
                        <div class="test" (click)="loginAlert()">
                            <img src="..\assets\images\exam.png" alt="" width="20%">
                            <h3 class="text-center mt-2">Written Exams</h3>
                            <p class="mt-1">You can reserve a time slot for your written test here</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-footer [fixed]="'none'"></app-footer>
</div> -->