<app-dmt-admin-navbar></app-dmt-admin-navbar>
<div class="container">
    <table class="table mt-3">
        
        <thead>
            <tr>
                <th ><h3>NIC Number</h3></th>
                <th ><h3>Session</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of medicalReservations">
                <td class="table-warning">{{reservation.nic}}</td>
                <td class="table-warning">{{reservation.Session}}</td>
            </tr>
        </tbody>
    </table>
</div>