<app-dmt-admin-navbar></app-dmt-admin-navbar>
<div class="container">
    <div class="content">
        <div class="card mt-5 mb-5">
            <div class="searchBar row mt-5 mb-5">
                <div class="col-md-9">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search with NIC" aria-label="Search">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
            <div class="">
                <a routerLink="/admin/dmt/dashboard/user/user.uid" *ngFor="let user of users" (click)="userIdentify(user.nic)">
                    <div class="row text-center card" style="margin-left: 2%; margin-right: 2%; margin-top: 5px;"  *ngIf="!user.isAdminPolice && !user.isAdminDMT"> 
                        <p class="p-2 user">{{user.nic}} - {{user.displayName}}</p>
                    </div>
                </a>
                <!-- <a routerLink="/admin/dmt/dashboard/user">
                    <div class="row text-center card" style="margin-left: 2%; margin-right: 2%; margin-top: 5px;">
                        <p class="p-2 user">991470182V - Display Name</p>
                    </div>
                </a>
                <a routerLink="/admin/dmt/dashboard/user">
                    <div class="row text-center card" style="margin: 2%; margin-right: 2%; margin-top: 5px;">
                        <p class="p-2 user">991470182V - Display Name</p>
                    </div>
                </a> -->
            </div>
        </div>
    </div>
</div>