<head>
		<title>Info Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> -->
		<!-- <link rel="stylesheet" href="assets/css/main.css" />
		 <link rel="stylesheet" href="assets/css/edited.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
	 </head>
	<!-- <body class="is-preload"> --> 
		<body>
		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1>Info</h1>
					<p>The time you wait in lines are over<br />Get your driving license quick and easy<br/>Join Us</p>
				</div>
				<div class="image phone"><div class="inner"><img src="images/screen.jpg" alt="" /></div></div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>You can access the following facilities from our Website</h2>
				</header> 
				<!--<ul class="icons major">
					<li><span class="icon solid fa-camera-retro"><span class="label">Shoot</span></span></li>
					<li><span class="icon solid fa-sync"><span class="label">Process</span></span></li>
					<li><span class="icon solid fa-cloud"><span class="label">Upload</span></span></li>
				</ul>-->
			</section>

		<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<div class="image"><img src="images/pic01.jpg" alt="" /></div>
						<div class="content">
							<h3>Medical Help</h3>
							<p>Obtaining your medical has never been more easier. You only have to vist the DMT on the day of your check up. You can book any day for your check up. No more time wasted on queues. Get your Medical now.<br><br>
								<a class="edited1" href="default.asp" target="_blank">Click Here</a></p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="images/Capture.PNG" alt="" /></div>
						<div class="content">
							<h3>Exam Help</h3>
							<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.<br><br>
								<a class="edited1" href="default.asp" target="_blank">Click Here</a></p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="images/pic03.jpg" alt="" /></div>
						<div class="content">
							<h3>About your license</h3>
							<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.<br><br>
								<a class="edited1" href="default.asp" target="_blank">Click Here</a></p>
						</div>
					</section>
					<section class="special">
						<ul class="icons labeled">
							<li><span class="icon solid fa-camera-retro"><span class="label">Ipsum lorem accumsan</span></span></li>
							<li><span class="icon solid fa-sync"><span class="label">Sed vehicula elementum</span></span></li>
							<li><span class="icon solid fa-cloud"><span class="label">Elit fusce consequat</span></span></li>
							<li><span class="icon solid fa-code"><span class="label">Lorem nullam tempus</span></span></li>
							<li><span class="icon solid fa-desktop"><span class="label">Adipiscing amet sapien</span></span></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 special">
				<header class="major">
					<h2>About our app</h2>
					<p>Gravida at leo elementum elit fusce accumsan dui libero, quis vehicula<br />
					lectus ultricies eu. In convallis amet leo sapien iaculis efficitur.</p>
				</header>
			</section>
	</body>
