<app-navbar></app-navbar>
<head>
		<title>Info Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> -->
	 </head>

		<body>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>You can access the following facilities from our Website</h2>
				</header> 
				
			</section>

		<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<div class="image"><img src="../assets/images/medicalImg.jpg" alt="" /></div>
						<div class="content">
							<h3>Medical Help</h3>
							<p>Obtaining your medical has never been more easier. You only have to vist the DMT on the day of your check up. You can book any day for your check up. No more time wasted on queues. Get your Medical now!.<br><br>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="../assets/images/exams.jpg" alt="" /></div>
						<div class="content">
							<h3>Exam Help</h3>
							<p>Having a hard time reserving a time slot for your exam? With Asset License, you can reserve a time slot with ease according to your preference with just a click of a button. Reserve your time slot now!<br><br>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="../assets/images/license.png" alt="" /></div>
						<div class="content">
							<h3>About Your License</h3>
							<p>With the world moving forward in the technological era, issuing your driving license digitally has become more easier and less time consuming. You can even keep track of all the activites and violations. Check them by clicking below!<br><br>
						</div>
					</section>
					<section class="special">
						<ul class="icons labeled">
							<table style="width:100%">
								<tr>
								<td><li><span class="icon solid fa-cloud"><span class="label">Save your progress in our online database</span></span></li></td>
								<td><li><span class="icon solid fa-briefcase-medical"><span class="label">Reserve a time slot for your medical test</span></span></li></td> 
								</tr>
								<tr>
									<td><li><span class="icon solid fa-address-card"><span class="label">Create your drivers license digitally</span></span></li></td>
									<td><li><span class="icon solid fa-sync"><span class="label">Keep track of your activities</span></span></li></td> 
								</tr>
								<tr>
								  <td colspan="2"><li><span class="icon solid fa-paste"><span class="label">Reserve a time slot for your Examination</span></span></li></td>
								</tr>
							  </table>
						</ul>
					</section>
				</div>
			</section>
		
	</body>
<app-footer></app-footer>