#heading1{
    font-family: 'Archivo Black', sans-serif;
    font-size:50px;
}
#heading2{
    font-family: 'Archivo Black', sans-serif;
    font-size:40px;
}
#formtext3{
    font-family: 'Brygada 1918', serif;
    font-size: 20px;
}