<app-navbar></app-navbar>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<section id="three" class="wrapper style1">
    <div class="container-fluid">
        <header class="major">
            <div class="row" style="background-color: #ffce2b; font: 'Roboto'; font-style: italic; height: 150px">
            <h1 id="heading1" style="text-align: center; padding-top: 40px; color: #42413d; font-size: 60px;">
                Reserve Your Time Slots
            </h1>
            <br/>
          </div>
          <br><br>
            <p style= "font-size: 130%; text-align: center; ">With Asset License you can easily reserve your preferred time slots for the exams with just a click of a button.<br>
            Please be kind enough to bring the required documents to the exams.<br>
            This hassle free method will guarantee quick results that will get your drivers license one step closer to you.</p><br>
        </header>
        <br>
        <div class="row">
            <div class="col-sm-6" >
                <i class="fas fa-briefcase-medical fa-10x"></i><br>
                <h3>Medical Exams</h3><br>
                <p style= "font-size: 110%;" ><b>Please bring the following documents before coming for the checkup.</b></p><br>
                <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>National Identity Card.</td>
                      </tr>
                      <tr>
                        <td>Glasses and prescription, If applicable.</td>
                      </tr>
                      <tr>
                        <td>Medical information regarding any illness you may have had.</td>
                      </tr>
                      <tr>
                        <td>A list of all medications you are currently taking.</td>
                      </tr>
                      <tr>
                        <td>Police and court documents regarding any criminal history.</td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <ul class="actions">
                    <li><button><a routerLink="/medical" class="button">Click Here</a></button></li>
                    </ul>
            </div>
            <div class="col-sm-6" >
                <i class="fas fa-paste fa-10x"></i><br>
                <h3>Written Exams</h3><br>
                <p style= "font-size: 110%;" ><b>Please bring the following documents before coming for the written exam.</b></p><br>
                <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>National Identity Card.</td>
                      </tr>
                      <tr>
                        <td>The original and a photocopy of the Birth Certificate.</td>
                      </tr>
                      <tr>
                        <td>Vaccination card or Medical certificate.</td>
                      </tr>
                      <tr>
                        <td>Three copies of black and white photos of size: 2*2 ”.</td>
                      </tr>
                      <tr>
                        <td>A Certification of Competency issued by a grade “A” registered driving school.</td>
                      </tr>
                    </tbody>
                    <br>
                    <ul class="actions">
                        <li><button><a routerLink="/written-exam" class="button">Click Here</a></button></li>
                        </ul>
                  </table>
            </div>
        </div>
        <br><br><br>
    </div>
</section>




<app-footer fixed = "signIn"></app-footer>
