.container{
    padding-top: 75px;
    padding-bottom: 100px;
    width: 1000px;
    margin: auto;
}

.medical , .exams{
    padding-top: 30px;
    padding-bottom: 30px;
}

td, h1 {
    text-align: center;
  }

.fa-paste, .fa-briefcase-medical {
    color: #ffc107;
}

ul{
    list-style-type: none;
}

button{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 7px;
}


a {
    color: white;
    text-decoration: none;
}

.major {
    background-color: #e7e7e7;
}

table.documents , table.documents td{
    border: 3px solid #e7e7e7;
}