<app-navbar></app-navbar>
<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major">
            <br>
            <h1>Reserve Your Time Slots</h1><br>
            <p style="text-align:center">With Asset License you can easily reserve your preferred time slots for the exams with just a click of a button.<br>
            Please be kind enough to bring the required documents to the exams.<br>
            This hassle free method will guarantee quick results that will get your drivers license one step closer to you.</p><br>
        </header>
                <br><table style="width:100%" >
                    <tr>
                        <td>
                            <i class="fas fa-briefcase-medical fa-10x"></i>
                        </td>
                        <td>
                            <i class="fas fa-paste fa-10x"></i>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td><h4>Medical Exams</h4></td>
                        <td><h4>Written Exams</h4></td>
                    </tr>
                    <br>
                    <tr>
                        <td><p><b>Please bring the following documents before coming for the checkup.</b></p></td>
                        <td><p><b>Please bring the following documents before coming for the written exam.</b></p></td>
                    </tr>
                </table>
                   <br>
                  <table class="documents">
                    <tr>
                        <td style="width: 50%;">National Identity Card.</td><td style="width: 50%;">National Identity Card.</td>
                    </tr>
                    <tr>
                        <td>Glasses and prescription, If applicable.</td><td>The original and a photocopy of the Birth Certificate.</td>
                    </tr>
                    <tr>
                        <td>Medical information regarding any illness you may have had.</td><td>Vaccination card or Medical certificate.</td>
                    </tr>
                    <tr>
                        <td>A list of all medications you are currently taking.</td><td>Three copies of black and white photos of size: 2*2 ”.</td>
                    </tr>
                    <tr>
                        <td>Police and court documents regarding any criminal history.</td><td>A Certification of Competency issued by a grade “A” registered driving school.</td>
                    </tr>
                  </table>
                  <br>
                <table style ="width: 100%">
                    <tr>
                        <td>
                            <ul class="actions">
                            <li><button><a routerLink="/medical" class="button">Click Here</a></button></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="actions">
                            <li><button><a routerLink="/written-exam" class="button">Click Here</a></button></li>
                            </ul>
                        </td>
                    </tr>
                  </table>
            
            

    </div>
</section>
<app-footer fixed = "signIn"></app-footer>
