<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row header align-items-center">
        <h1 class="text-center">About Asset License</h1>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <p class="para">
            Applying for a driving licence is a very easy procedure. Unlike decades ago, you can now go online and
            apply for a driving licence in few seconds. You do not have to stand in a long queue to submit your Driving
            Licence application.
        </p>
        <p class="para">
            As it is more convenient and takes lesser amount of time than going through the entire process manually. You
            can simply reserve the days for medicals and exams from the internet and furnish it with all the necessary
            information
            after filling up the application form. Once this process is conducted smoothly, you need to sit for a
            written test and trials, and clear it to successfully obtain the license.
        </p>
    </div>
    <div class="row my-3 align-items-center">
        <div class="col-md-4 text-center">
            <img src="..\assets\images\vission.jpg" alt="" width="40%">
        </div>
        <div class="col-md-8">
            <h2 class="text-center my-2">Our Vision</h2>
            <p class="para px-3">
                Increasing productivity while saving public time as well as public
                service time and increasing efficiency in the country.
            </p>
        </div>
    </div>
    <div class="row my-3 align-items-center">
        <div class="col-md-4 text-center">
            <img src="..\assets\images\mission.png" alt="" width="40%">
        </div>
        <div class="col-md-8">
            <h2 class="text-center my-2">Our Mission</h2>
            <p class="para px-3">
            With the introduction of the online driving Licence applications, make applicants can
            fill out the form and submit it as well as book their driving test appointments, all from the
            comfort of their home.
            </p>
        </div>
    </div>
    <div class="row my-3 align-items-center">
        <div class="col-md-4 text-center">
            <img src="..\assets\images\objectives.png" alt="" width="40%">
        </div>
        <div class="col-md-8">
            <h2 class="text-center my-2">Objectives</h2>
            <p class="para px-3">
                Increasing productivity while saving public time as well as public
                service time and increasing efficiency in the country.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <div class="card p-4">
                <img src="../../../assets/images/ranul.jpg" alt="" width="100%">
                <div class="name text-center"><p>Ranul Navojith</p></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-4">
                <img src="../../../assets/images/hashan.jpg" alt="" width="100%">
                <div class="name text-center"><p>Hashan Chathuranga</p></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4">
                <img src="../../../assets/images/nelmi.jpg" alt="" width="100%">
                <div class="name text-center"><p>Nelmi Kudagodage</p></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-4">
                <img src="../../../assets/images/thinithi.jpg" alt="" width="100%">
                <div class="name text-center"><p>Thinithi Palayangoda</p></div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="wrapper row2">
        <div id="container" class="clear">
          
             <div id="about-us" class="clear">
                <div class="three_quarter first">
                   
                    <section id="about-intro" class="clear">
                        <blockquote>
                            <p><span></span> The Asset License paves the way for you to quickly 
                                obtain your license while saving your precious time.</p><br>
                        </blockquote>
                        <p class="right"></p>
                        <div class="panorama"><img class="imgholder" src="..\assets\images\aboutusimg.jpg" alt=""></div><br><br>
                        <p>Applying for a driving licence is a very easy procedure. Unlike decades ago, you can now go online and 
                            apply for a driving licence in few seconds. You do not have to stand in a long queue to submit your Driving 
                            Licence application.</p>
                        <p>As it is more convenient and takes lesser amount of time than going through the entire process manually. You can simply
                             reserve the days for medicals and exams from the internet and furnish it with all the necessary information after filling 
                             up the application form. Once this process is conducted smoothly, you need to sit for a written test and trials, and clear 
                             it to successfully obtain the license.</p>
                    </section><br>
                  
                    <section id="skillset" class="clear">
                        <h1></h1>
                        <article class="clear">
                            <img class="fl_left" src="..\assets\images\vission.jpg" alt="">
                            <div class="fl_right">
                                <h2>Our Vision</h2>
                                <p>Increasing productivity while saving public time as well as public 
                                    service time and increasing efficiency in the country.</p>
                                <!-- <p><a href="#">Read More &raquo;</a></p> -->
<!-- <p></p>
</div><br>

</article>
<article class="clear">
    <img class="fl_left" src="..\assets\images\mission.png" alt="">
    <div class="fl_right">
        <h2>Our Mission</h2>
        <p> With the introduction of the online driving Licence applications, make applicants can
            fill out the form and submit it as well as book their driving test appointments, all from the
            comfort of their home.

            .</p> -->
<!-- <p><a href="#">Read More &raquo;</a></p> -->
<!-- <p></p>
    </div><br>

</article>
<article class="clear">
    <img class="fl_left" src="..\assets\images\objectives.png" alt="">
    <div class="fl_right">
        <h2>Our Objectives</h2>
        <div class="mt-3">
            <ul class="a">
                <li>Provide fast and reliable service in the process of issuing license digitally.</li>
                <li>Demonstrating the whole procedure step by step so that people can determine the status of license
                    issuance.</li>
                <li>Keeping track of all activities and violations of traffic laws in his/her license number.</li>
            </ul>
        </div> -->
<!-- <p><a href="#">Read More &raquo;</a></p> -->
<!-- </div><br>

</article><br>
</section>
<section id="team" class="team-cast">
    <div id="design-cast">
        <h2>The Team</h2>

        <div class="member">
            <img src="..\assets\images\thinithi.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
            <div class="name">Thinithi Palayangoda
                <br />Description
            </div>
        </div>
        <div class="member">
            <img src="..\assets\images\nelmi.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
            <div class="name">Nelmi Kudagodage
                <br />Description
            </div>
        </div>
        <div class="member">
            <img src="..\assets\images\hashan.jpg" class="img-responsive img-thumbnail" alt="Responsive image"
                style="width: 220px; height: 290px;" />
            <div class="name">Hashan Chathuranga
                <br />Description
            </div>
        </div>
        <div class="member">
            <img src="..\assets\images\ranul.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
            <div class="name">Ranul Dayarathne
                <br />Description
            </div>
        </div>
    </div>
</section>

</div>

</div>
</div>
</div>

<div style="height: 1900px;"></div> -->
<!-- <app-application></app-application> -->
<app-footer></app-footer>