<app-navbar></app-navbar>

<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
               
                <div class="profile-header-img">
                    <img src="..\assets\images\logo.jpg" alt="" />
                </div>
                <div class="user-data">
                        <h1>{{user.displayName}}</h1><span>{{user.nic}}</span>
                    </div>
                <div class="scroll">
                    <app-scrollbar></app-scrollbar> 
                </div>

            </div>
        </div>
    </div>
</div> 

<div class="st">
    <app-status></app-status>
</div> 
           
           
       
        
       
            
       
   
<app-footer [fixed]="'none'"></app-footer>