<app-navbar></app-navbar>


    <div class="profile">
        <img align="left" class="image-lg" src="..\assets\images\FFCE2B.jpg" alt="Profile image example"/>
        <img align="left" class="image-profile thumbnail" src="..\assets\images\logo.jpg" alt="Profile image example"/>
        <div class="profile-text">
           <p> User Name </p>
            <h1>NIC</h1>
            <div class="st">
            <app-status></app-status></div> 
            <app-scrollbar></app-scrollbar></div> 
        </div>
        
       
            
       
   
<app-footer [fixed]="'none'"></app-footer>