<nav class="navbar navbar-expand-lg navbar-light pt-3 pb-3">
    <div class="container-fluid">
        <a class="navbar-brand"><span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span> &nbsp;&nbsp;Asset License</a>
        <button class="btn btn-outline-danger"  (click) = "signOut()">Sign Out</button>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink= "">Home</a>
    <a routerLink = "/admin/dmt/dashboard">Users</a>
    <a routerLink = "/admin/dmt/medical-reservation">Medical</a>
    <a routerLink = "/admin/dmt/exam-reservation">Exam</a>
  </div>