
   
       
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" id="nbutton" data-toggle="dropdown">
            Police Reports <span class="caret"></span>
          </button>
          <table class="dropdown-menu scrollable-menu" role="menu">
            <tr>
                <th>Date</th>
                <th>Errors and Violations</th>
            </tr>
            <tr>
                <td>01/07/2021</td>
                <td>High Speed</td>
            </tr>
            <tr>
              <td>01/07/2021</td>
              <td>High Speed</td>
          </tr>
          <tr>
            <td>01/07/2021</td>
            <td>High Speed</td>
        </tr>
        <tr>
          <td>01/07/2021</td>
          <td>High Speed</td>
      </tr>
      <tr>
        <td>01/07/2021</td>
        <td>High Speed</td>
    </tr>
            
          </table>
          <!-- <ul class="dropdown-menu scrollable-menu" role="menu"> -->

            <!-- <li><a href="#">Action 1</a></li>
            <li><a href="#">Action 2</a></li>
            <li><a href="#">Action 3</a></li>
            <li><a href="#">Action 4</a></li>
            <li><a href="#">Action 5</a></li>
            <li><a href="#">Action 6</a></li>
            <li><a href="#">Action 7</a></li>
            <li><a href="#">Action 8</a></li>
            <li><a href="#">Action 9</a></li>
            <li><a href="#">Action 10</a></li>
            <li><a href="#">Action 11</a></li>
            <li><a href="#">Action 12</a></li>
            <li><a href="#">Action 13</a></li>
            <li><a href="#">Action 14</a></li>
            <li><a href="#">Very very very very very very long action</a></li> -->
          <!-- </ul> -->
        </div>