.dropdown-menu {
    width: 100%;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
  #nbutton
  {
    background-color:#f47609; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: relative;
    left: 50px;
    width: 700px;
  }
  #nbutton:hover {
    background-color:  rgb(189, 189, 189); /* Green */
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 700px;
  }
  th{
    position: fixed;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 700px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 700px;

  }
  
  tr:hover {background-color:#dfdede;}