.dropdown-menu {
    width: 100%;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
  #nbutton
  {
    background-color:#f47609; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: relative;
    left: 500px;
    bottom: 100px;
    top: 5px;
    width: 500px;
    padding-right: 0%;
    margin-right: 0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #nbutton:hover {
    background-color:  rgb(189, 189, 189); /* Green */
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 700px;
  }
  
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 700px;

  }
  
  tr:hover {background-color:#dfdede;}
  @media (max-width: 991.98px){
  #nbutton {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
    width: 500px;
    left: 0%;
}
  }