<body style="background-color: rgb(235, 46, 46);">
  <div class="pt-5" style="text-align: center;">
    <h1>Registration</h1>
  </div>
  <div class="container p-5" style="height:1000px">
    <div class="bg-white rounded pt-5 " style="width: 100%;height:80%;margin-left:10px;">
      <div class="row justify-content-md-center">
        <div class="col-9 mt-5 d-inline-block justify-content-center">
          <form>
            <div class="row">
              <div class="col">
                <label>First Name</label><br>
                <input type="text" class="form-control" placeholder="First name" id="firstName">
                <br>
              </div>
              <div class="col">
                <label>Last Name</label>
                <br>
                <input type="text" class="form-control" placeholder="Last name" id="lastName">
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>Date of Birth</label><br>
                <input type="date" class="form-control" placeholder="DOB" id="dob">
                <br>
              </div>
              <div class="col-6">
                <label for="gender">Gender</label><br>
                <select id="gender" class="form-control" name="Gender">
                  <option selected id="male" name="Gender">Male</option>
                  <option id="female" name="Gender">Female</option>
                  <option id="notIdentified" name="Gender">Not Identified</option>
                </select>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>National Identity Card Number</label><br>
                <input type="text" class="form-control" placeholder="NIC" maxlength="10">
                <br>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Address</label><br>
                <input type="text" class="form-control" placeholder="Your Address">
                <br>
              </div>
            </div>

            <!-- <div class="row">
      <div class="col-3">
      <label>No.</label>
        <input type="text" class="form-control" placeholder="City">
      </div>
      <div class="col-">
        <input type="text" class="form-control" placeholder="State">
      </div>

    </div>-->
            <div class="row justify-content-md-center p-5">
              <div class="col-4 ">
                <button type="submit" class="btn btn-danger" style="width:70%;margin-left:50px">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
